---
import Section from '@/components/ui/Section.astro';
import type { AboutCard } from '@/types';

export interface Props {
  id: string;
  projectDescription: string;
  cards: AboutCard[];
}

const { id = 'about', projectDescription = '', cards = [] } = Astro.props;
---

<Section id={id}>
  <div class="flex w-full flex-col md:flex-row">
    <div class="w-full lg:w-1/2">
      <div
        class="mb-4 text-center text-[40px] font-medium leading-[120%] tracking-tight md:text-start"
      >
        About the Project
      </div>
      <p class="description w-full md:w-2/3">
        {projectDescription}
      </p>
    </div>
    <div class="flex w-full flex-col gap-20 lg:w-1/2">
      {
        cards.map(({ title, description }) => (
          <div>
            <div class="heading">{title}</div>
            <p class="description">{description}</p>
          </div>
        ))
      }
    </div>
  </div>
</Section>

<style>
  .heading {
    @apply mb-2 mt-8 text-center text-7xl font-light leading-[100%] tracking-tight md:mt-0 md:text-start md:text-9xl;
  }
  .description {
    @apply w-full leading-[140%] opacity-70 md:w-2/3 md:text-lg;
  }
</style>
