---
import Section from '@/components/ui/Section.astro';
import type { AboutCard } from '@/types';

export interface Props {
  id: string;
  projectDescription: string;
  cards: AboutCard[];
}

const { id = 'about', projectDescription = '', cards = [] } = Astro.props;
---

<Section id={id}>
  <div class="flex w-full flex-col md:flex-row">
    <div class="w-full md:w-1/2">
      <div class="mb-4 text-[40px] font-medium leading-[120%] tracking-tight">
        About the Project
      </div>
      <p class="w-full text-lg leading-[140%] md:w-1/2">
        {projectDescription}
      </p>
    </div>
    <div class="flex w-full flex-col gap-20 md:w-1/2">
      {
        cards.map(({ title, description }) => (
          <div>
            <div class="heading">{title}</div>
            <p class="description">{description}</p>
          </div>
        ))
      }
    </div>
  </div>
</Section>

<style>
  .heading {
    @apply mb-2 mt-8 text-center text-9xl font-light leading-[100%] tracking-tight md:text-start lg:mt-0;
  }
  .description {
    @apply w-full text-lg leading-[140%] opacity-50 md:w-1/2;
  }
</style>
