---
import Section from '@/components/ui/Section.astro';
import Accordion from '@/components/ui/Accordion/Accordion.astro';
import type { FAQ } from '@/types';

export interface Props {
  id: string;
  faq: FAQ[];
}

const { id = 'faq', faq = [] } = Astro.props;
---

<Section id={id} class="bg-primary">
  <div class="section-title">Frequently Asked Questions</div>
  <Accordion faq={faq} />
  <p class="pt-10 text-center text-lg">
    Have a question that is not answered? You can contact us at
    <a href="#" class="text-primary"> support@crowdloan.com</a>
  </p>
</Section>
