---
import { t } from 'i18next';
import Section from '@/components/ui/Section.astro';
import Accordion from '@/components/ui/Accordion/Accordion.astro';
import type { FAQ } from '@/types';

export interface Props {
  id: string;
  faq: FAQ[];
}

const { id = 'faq', faq = [] } = Astro.props;
---

<Section id={id} class="bg-primary">
  <div class="section-title">{t('titles.faq')}</div>
  <Accordion faq={faq} />
  <p class="pt-10 text-center text-lg">
    {t('descriptions.faq')}
    <a
      href="mailto:support@crowdloan.com?subject=Mail from Our Site"
      class="text-primary"
    >
      support@crowdloan.com</a
    >
  </p>
</Section>
