---
import TimeLeftTimer from '@/components/common/TimeLeftTimer';
import Section from '@/components/ui/Section.astro';
import { getDuration } from '@/utils';
import { SITE } from '@/config';
import Progress from '@/components/ui/Progress.astro';
import Button from '@/components/ui/Button.astro';
import Logos from '@/components/Logos.astro';
import MiroLogo from '@/assets/images/logos/Miro.png';
import MobbinLogo from '@/assets/images/logos/Mobbin.png';
import StripeLogo from '@/assets/images/logos/Stripe.png';
import WebflowLogo from '@/assets/images/logos/Webflow.png';
import MondayLogo from '@/assets/images/logos/Monday.png';
import Container from '@/components/ui/Container.astro';

export interface Props {
  id: string;
}

// TODO import all content from file
const { id = 'hero' } = Astro.props;

const weeksLeft = getDuration(SITE.crowdLoadEndDate, 'weeks');

let logos = [
  {
    src: MiroLogo,
    alt: '',
  },
  {
    src: MobbinLogo,
    alt: '',
  },
  {
    src: StripeLogo,
    alt: '',
  },
  {
    src: WebflowLogo,
    alt: '',
  },
  {
    src: MondayLogo,
    alt: '',
  },
];
---

<Section id={id} class="bg-primary flex flex-col md:flex-row relative">
  <div class="flex w-full flex-1 flex-col justify-between">
    <div class="flex h-fit flex-col md:flex-row">
      <div
        class="mr-0 w-full pr-0 tracking-tighter md:mr-auto md:w-1/2 md:pr-24"
      >
        <h1 class="text-[40px] leading-10 md:text-8xl md:leading-[90%]">
          Building the future <span
            class="bg-timer-gradient bg-clip-text text-transparent"
            >of fin experiences</span
          >
        </h1>

        <p class="pt-6 text-lg">
          Describe what problems your project solves. Avoid using popular
          phrases or sentences. Instead, think of something by which people will
          remember you.
        </p>
        <Button class="mt-10" />
      </div>
      <div
        class="mx-auto h-min w-full min-w-min max-w-max drop-shadow-primary md:ml-auto md:w-1/2 md:max-w-min"
      >
        <Container class="mt-6">
          <TimeLeftTimer date={SITE.crowdLoadEndDate} client:load />
        </Container>
        <div
          class="mb-px flex flex-col rounded-b-lg bg-white px-4 py-6 md:px-8"
        >
          <div class="flex">
            <div class="flex flex-col">
              <div class="pb-2 text-xs opacity-50 md:text-sm">Contributed</div>
              <span
                class="text-xl font-medium leading-[90%] text-primary md:text-[2rem]"
                >31,515,989<span class="px-1 opacity-50">/</span></span
              >
            </div>
            <div class="flex flex-col">
              <div class="pb-2 text-xs opacity-50 md:text-sm">CAP</div>
              <span class="text-xl font-medium leading-[90%] md:text-[2rem]"
                >35,000,000 DOT</span
              >
            </div>
          </div>
          <Progress value={90} class="mt-4" />
        </div>

        <div class="flex rounded-lg bg-white px-6 py-4 md:px-8">
          <div class="flex w-1/2 flex-col">
            <div class="pb-2 text-xs opacity-50 md:text-sm">Lease duration</div>
            <span class="text-xl font-medium leading-[90%] md:text-[2rem]"
              >{Math.floor(Number(weeksLeft.weeks ?? 0))} weeks</span
            >
          </div>
          <div class="flex flex-col">
            <div class="pb-2 text-xs opacity-50 md:text-sm">
              Auction started
            </div>
            <span class="text-xl font-medium leading-[90%] md:text-[2rem]"
              >LP15-LP8</span
            >
          </div>
        </div>
      </div>
    </div>
    <Logos logos={logos} class="mt-auto" />
  </div>
</Section>
