---
import TimeLeftTimer from '@/components/common/TimeLeftTimer';
import Section from '@/components/ui/Section.astro';
import { getDuration } from '@/utils';
import { SITE } from '@/config';
import Progress from '@/components/ui/Progress.astro';
import Button from '@/components/ui/Button.astro';
import Logos from '@/components/Logos.astro';
import MiroLogo from '@/assets/images/logos/Miro.png';
import MobbinLogo from '@/assets/images/logos/Mobbin.png';
import StripeLogo from '@/assets/images/logos/Stripe.png';
import WebflowLogo from '@/assets/images/logos/Webflow.png';
import MondayLogo from '@/assets/images/logos/Monday.png';

export interface Props {
  id: string;
}

// TODO import all content from file
const { id = 'hero' } = Astro.props;

const weeksLeft = getDuration(SITE.crowdLoadEndDate, 'weeks');

let logos = [
  {
    src: MiroLogo,
    alt: '',
  },
  {
    src: MobbinLogo,
    alt: '',
  },
  {
    src: StripeLogo,
    alt: '',
  },
  {
    src: WebflowLogo,
    alt: '',
  },
  {
    src: MondayLogo,
    alt: '',
  },
];
---

<Section
  id={id}
  class="bg-primary flex flex-col md:flex-row relative h-[calc(100vh-92px)]"
>
  <div class="flex h-full w-full flex-col">
    <div class="flex flex-1">
      <div class="mr-auto w-1/2 pr-24 tracking-tighter">
        <h1 class="text-8xl">
          Building the future <span class="text-primary"
            >of fin experiences</span
          >
        </h1>

        <p class="pt-6 text-lg">
          Describe what problems your project solves. Avoid using popular
          phrases or sentences. Instead, think of something by which people will
          remember you.
        </p>
        <Button class="mt-10" />
      </div>
      <div class="ml-auto h-min w-1/2 min-w-min max-w-min drop-shadow-primary">
        <TimeLeftTimer date={SITE.crowdLoadEndDate} client:load />
        <div class="mb-px flex flex-col rounded-b-lg bg-white px-8 py-6">
          <div class="flex">
            <div class="flex flex-col">
              <div class="pb-2 text-sm opacity-50">Contributed</div>
              <span class="text-[2rem] font-medium text-primary"
                >31,515,989<span class="px-1 opacity-50">/</span></span
              >
            </div>
            <div class="flex flex-col">
              <div class="pb-2 text-sm opacity-50">CAP</div>
              <span class="text-[2rem] font-medium">35,000,000 DOT</span>
            </div>
          </div>
          <Progress value={90} />
        </div>

        <div class="flex rounded-lg bg-white px-8 py-6">
          <div class="flex w-1/2 flex-col">
            <div class="pb-2 text-sm opacity-50">Lease duration</div>
            <span class="text-[2rem] font-medium"
              >{Math.floor(Number(weeksLeft.weeks ?? 0))} weeks</span
            >
          </div>
          <div class="flex flex-col">
            <div class="pb-2 text-sm opacity-50">Auction started</div>
            <span class="text-[2rem] font-medium">LP15-LP8</span>
          </div>
        </div>
      </div>
    </div>
    <Logos logos={logos} />
  </div>
</Section>
