---
import Section from '@/components/ui/Section.astro';
import Card from '@/components/common/Card.astro';
import type { Card as CardType } from '@/types';

interface RewardType extends CardType {
  takeSpace?: number;
}
export interface Props {
  id: string;
  rewardsDistribution: RewardType[];
}

const { id = 'rewards', rewardsDistribution = [] } = Astro.props;

const mapGridRowsToSpace: {
  [key: number]: string;
} = {
  1: 'col-span-1',
  2: 'col-span-2',
  3: 'col-span-3',
  4: 'col-span-4',
  5: 'col-span-5',
  6: 'col-span-6',
};

const defaultSpace = 3;
---

<Section id={id} class="bg-primary">
  <div class="section-title">Reward distribution</div>
  <p class="section-description">
    All participants in the Project Crowdloan will receive DOTS as a reward for
    their contributions. The amount of the rewards will depend on the total
    amount of DOTS which has been contributed by others at the time of your
    contribution.
  </p>

  <div class="grid grid-cols-1 gap-6 pt-16 lg:grid-cols-6">
    {
      rewardsDistribution.map(({ takeSpace = defaultSpace, ...rest }) => (
        <Card {...rest} class={mapGridRowsToSpace[takeSpace]} />
      ))
    }
  </div>
</Section>
