---
import { t } from 'i18next';

import Section from '@/components/ui/Section.astro';
import Card from '@/components/common/Card.astro';
import Button from '@/components/ui/Button.astro';
import type { Card as CardType } from '@/types';
import ButtonWrapper from '@/features/Contribution/ButtonWrapper';

interface RewardType extends CardType {
  takeSpace?: number;
}
export interface Props {
  id: string;
  rewardsDistribution: RewardType[];
}

const { id = 'rewards', rewardsDistribution = [] } = Astro.props;

const mapGridRowsToSpace: {
  [key: number]: string;
} = {
  1: 'lg:col-span-1',
  2: 'lg:col-span-2',
  3: 'lg:col-span-3',
  4: 'lg:col-span-4',
  5: 'lg:col-span-5',
  6: 'lg:col-span-6',
};

const defaultSpace = 3;
---

<Section id={id} class="bg-primary">
  <div class="section-title">{t('titles.rewards')}</div>
  <p class="section-description">
    {t('descriptions.rewards')}
  </p>

  <div class="grid grid-cols-1 gap-6 pt-16 lg:grid-cols-6">
    {
      rewardsDistribution.map(({ takeSpace = defaultSpace, ...rest }) => (
        <Card {...rest} class={mapGridRowsToSpace[takeSpace]} />
      ))
    }
  </div>

  <div
    class="mt-20 flex w-full items-center justify-center rounded-lg bg-vector-2 bg-center bg-no-repeat drop-shadow-primary lg:mt-40"
  >
    <div class="flex flex-col items-center justify-center gap-10 py-24">
      <div class="text-3xl font-medium tracking-tight text-white lg:text-7xl">
        {t('rewards.dontWait')}
      </div>
      <ButtonWrapper client:load>
        <Button variant="primary" />
      </ButtonWrapper>
    </div>
  </div>
</Section>
