---
import Layout from '@/layouts/PageLayout.astro';
import Card from '@/components/Card.astro';
import Hero from '@/components/sections/Hero.astro';
import About from '@/components/sections/About.astro';
import Rewards from '@/components/sections/Rewards.astro';
import Contributors from '@/components/sections/Contributors.astro';
import { SITE } from '@/config';
import TimeLeftTimer from '@/components/common/TimeLeftTimer';
import Button from '@/components/ui/Button.astro';
import AdditionalLinks from '@/components/sections/AdditionalLinks.astro';

const tempCardsData = [
  {
    title: 'LitePpaer 2.0',
    href: 'http://google.com/',
    bulletList: [
      'Access to all basic features',
      'Basic reporting and analytics',
      'Up to 10 individual users',
    ],
    description:
      'Contribution for the raised xxx between 500,000 - 1,500,000 DOT will receive 8 DOT per contributed DOT as a reward.',
  },
  {
    title: 'WhitePaper',
    href: 'http://google.com/',
    bulletList: [
      'Access to all basic features',
      'Basic reporting and analytics',
      'Up to 10 individual users',
    ],
  },
  {
    title: 'Documentation',
    href: 'http://google.com/',
    description:
      'Contribution for the raised xxx between 500,000 - 1,500,000 DOT will receive 8 DOT per contributed DOT as a reward.',
  },
];
---

<Layout
  navLinks={SITE.navLinks}
  title="Welcome to Crowdload."
  description="Crowdload is a simple lorem ipsum es dolor "
  footerLinks={SITE.footerLinks}
>
  <Hero id="hero" />
  <About id="about" />
  <Rewards id="rewards" />
  <Contributors id="contributors" />
  <main>
    <div>
      <h1 class="font-sans">
        Welcome to <span class="text-gradient">Astro</span>
      </h1>
      <p class="instructions">
        To get started, open the directory <code>src/pages</code> in your project.<br
        />
        <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
      </p>
      <ul role="list" class="link-card-grid">
        <Card
          href="https://docs.astro.build/"
          title="Documentation"
          body="Learn how Astro works and explore the official API docs."
        />
        <Card
          href="https://astro.build/integrations/"
          title="Integrations"
          body="Supercharge your project with new frameworks and libraries."
        />
        <Card
          href="https://astro.build/themes/"
          title="Themes"
          body="Explore a galaxy of community-built starter themes."
        />
        <Card
          href="https://astro.build/chat/"
          title="Community"
          body="Come say hi to our amazing Discord community. ❤️"
        />
      </ul>
    </div>
  </main>
  <AdditionalLinks id="additional" cardsData={tempCardsData} />
  <div
    class="mx-auto w-full bg-vector-1 bg-cover bg-center bg-no-repeat py-10 px-4 md:py-20"
  >
    <div class="flex flex-col items-center justify-center py-12 md:py-40">
      <TimeLeftTimer
        client:visible
        date={SITE.crowdLoadEndDate}
        variant="big"
      />
      <Button variant="default-light" class="mt-12" />
    </div>
  </div>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
    height: 100vh;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
