---
import CountdownTimer from '@/components/common/CountdownTimer';

export interface Props {
  id: string;
}

const { id = 'hero' } = Astro.props;
---

<div id={id}>
  <CountdownTimer date="2023-03-13" client:load />
</div>
