---
import CountdownTimer from '@/components/common/CountdownTimer';
import Section from '@/components/ui/Section.astro';
import { getDuration } from '@/utils';
import { SITE } from '@/config';
import Progress from '@/components/ui/Progress.astro';
import Button from '@/components/ui/Button.astro';

export interface Props {
  id: string;
}

const { id = 'hero' } = Astro.props;

const weeksLeft = getDuration(SITE.crowdLoadEndDate, 'weeks');
---

<Section id={id} class="bg-primary flex flex-col md:flex-row">
  <div class="mx-auto w-1/2 pr-24">
    <h1 class="text-8xl">
      Building the future <span class="text-primary">of fin experiences</span>
    </h1>

    <p class="pt-6 text-lg">
      Describe what problems your project solves. Avoid using popular phrases or
      sentences. Instead, think of something by which people will remember you.
    </p>
    <Button class="mt-10" />
  </div>
  <div class="mx-auto h-min w-1/2 min-w-min max-w-min drop-shadow-primary">
    <CountdownTimer date={SITE.crowdLoadEndDate} client:load />
    <div class="mb-px flex flex-col rounded-b-lg bg-white px-8 py-6">
      <div class="flex">
        <div class="flex flex-col">
          <div class="pb-2 text-sm opacity-50">Contributed</div>
          <span class="text-[2rem] font-medium text-primary"
            >31,515,989<span class="px-1 opacity-50">/</span></span
          >
        </div>
        <div class="flex flex-col">
          <div class="pb-2 text-sm opacity-50">CAP</div>
          <span class="text-[2rem] font-medium">35,000,000 DOT</span>
        </div>
      </div>
      <Progress value={90} />
    </div>

    <div class="flex rounded-lg bg-white px-8 py-6">
      <div class="flex w-1/2 flex-col">
        <div class="pb-2 text-sm opacity-50">Lease duration</div>
        <span class="text-[2rem] font-medium"
          >{Math.floor(Number(weeksLeft.weeks ?? 0))} weeks</span
        >
      </div>
      <div class="flex flex-col">
        <div class="pb-2 text-sm opacity-50">Auction started</div>
        <span class="text-[2rem] font-medium">LP15-LP8</span>
      </div>
    </div>
  </div>
</Section>
