---
import MiroLogo from '@/assets/images/logos/Miro.svg';
import MobbinLogo from '@/assets/images/logos/Mobbin.svg';
import StripeLogo from '@/assets/images/logos/Stripe.svg';
import WebflowLogo from '@/assets/images/logos/Webflow.svg';
import MondayLogo from '@/assets/images/logos/Monday.svg';
import { Image } from '@astrojs/image/components';

export interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;

let logos = [
  {
    src: MiroLogo,
    alt: '',
  },
  {
    src: MobbinLogo,
    alt: '',
  },
  {
    src: StripeLogo,
    alt: '',
  },
  {
    src: WebflowLogo,
    alt: '',
  },
  {
    src: MondayLogo,
    alt: '',
  },
] as const;
---

<div
  class:list={[
    'mt-auto flex w-screen flex-1 flex-wrap items-center justify-evenly px-4 bg-white pt-6 md:px-32 md:pt-0 mx-auto md:flex-none lg:max-w-7xl',
    { [className]: className },
  ]}
>
  {
    logos.map((logo) => (
      // eslint-disable-next-line @typescript-eslint/ban-ts-comment
      // @ts-ignore
      <Image
        class="aspect-[3/2] w-[15%] object-contain md:w-[10%]"
        aspectRatio="3:2"
        src={logo.src}
        alt={logo.alt}
      />
    ))
  }
</div>
