---
import { Icon } from 'astro-icon';
import type { Card } from '@/types';
import ArrowDownRight from '@/components/Icons/ArrowDownRight.astro';

export type Props = Card & { class?: string };

const {
  title = '',
  bulletList = [],
  description = '',
  href = '',
  class: className = '',
} = Astro.props;

const Element = href ? 'a' : 'div';
---

<Element
  rel="noopener noreferrer"
  class:list={[
    'w-full rounded-lg bg-white drop-shadow-primary transition-all duration-300 ease-in-out  md:basis-[30%]',
    {
      [className]: className,
      'hover:cursor-pointer hover:drop-shadow-primary-hover': !!href,
      'pb-6': !href,
    },
  ]}
  href={href}
>
  <div class="flex h-full flex-col px-4 py-6 md:px-8">
    <span
      class="break-words text-2xl font-medium leading-[120%] tracking-tight md:text-[40px]"
      >{title}</span
    >
    <div class="flex flex-col gap-4">
      {
        bulletList.length
          ? bulletList.map((item) => (
              <div class="flex first-of-type:mt-8">
                <Icon
                  name="tabler:check"
                  color="#3b5eea"
                  class="h-3 w-3 md:h-6 md:w-6"
                />
                <span class="pl-3">{item}</span>
              </div>
            ))
          : null
      }
    </div>
    {
      description && (
        <p class="mt-6 font-normal leading-[140%]">{description}</p>
      )
    }
    {
      !!href && (
        <div class="ml-auto mt-auto -mr-2 pt-6">
          <ArrowDownRight />
        </div>
      )
    }
  </div>
</Element>
