---
import ToggleMenu from '@/components/common/ToggleMenu.astro';
import type { NavLink } from '@/types';
import Button from '@/components/ui/Button.astro';
import ButtonWrapper from '@/features/Contribution/ButtonWrapper';

export interface Props {
  navLinks: NavLink[];
  logo: string;
}

const { navLinks = [], logo } = Astro.props;
---

<header
  class="sticky top-0 z-40 mx-auto w-full flex-none bg-primary px-4 transition-all duration-100 ease-in lg:px-32"
  id="header"
>
  <div class="w-full max-w-full py-3 px-3 lg:flex lg:justify-between">
    <div class="flex justify-between">
      <a class="flex items-center" href="#">
        <img src={logo} alt="crowload logotype" />
      </a>
      <div class="flex items-center lg:hidden">
        <ToggleMenu />
      </div>
    </div>
    <nav
      class="hidden w-full items-center overflow-y-auto lg:ml-auto lg:flex lg:h-auto lg:w-auto lg:overflow-visible"
      aria-label="Main navigation"
    >
      <ul
        class="flex w-full flex-col pt-8 text-xl lg:w-auto lg:flex-row lg:self-center lg:pt-0 lg:text-base"
      >
        {
          navLinks.map(({ title, url }) => (
            <li>
              <a
                class="hover:text-secondary flex items-center px-4 py-3 text-lg font-medium transition duration-150 ease-in-out"
                href={url}
              >
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <div class="ml-4 flex items-center lg:mb-0 lg:self-center">
      <div class="hidden items-center lg:flex">
        <!-- TODO logic for contribute btn -->
        <div class="ml-0 py-2 xl:ml-32">
          <ButtonWrapper client:load>
            <Button />
          </ButtonWrapper>
        </div>
      </div>
    </div>
  </div>
</header>
