---
import ToggleMenu from '@/components/common/ToggleMenu.astro';
import type { NavLink } from '@/types';
import Button from '@/components/ui/Button.astro';

export interface Props {
  navLinks: NavLink[];
}

const { navLinks = [] } = Astro.props;
---

<header
  class="sticky top-0 z-40 mx-auto w-full flex-none bg-primary px-4 transition-all duration-100 ease-in md:px-32"
  id="header"
>
  <div class="w-full max-w-full py-3 px-3 md:flex md:justify-between">
    <div class="flex justify-between">
      <a class="flex items-center" href="#hero">
        <!-- <Logo /> -->LOGO
      </a>
      <div class="flex items-center md:hidden">
        <ToggleMenu />
      </div>
    </div>
    <nav
      class="hidden w-full items-center overflow-y-auto md:ml-auto md:flex md:h-auto md:w-auto md:overflow-visible"
      aria-label="Main navigation"
    >
      <ul
        class="flex w-full flex-col pt-8 text-xl md:w-auto md:flex-row md:self-center md:pt-0 md:text-base"
      >
        {
          navLinks.map(({ title, url }) => (
            <li>
              <a
                class="hover:text-base-light flex items-center px-4 py-3 text-lg font-medium transition duration-150 ease-in-out"
                href={url}
              >
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <div class="ml-4 flex items-center md:mb-0 md:self-center">
      <div class="hidden items-center md:flex">
        <!-- TODO logic for contribute btn -->
        <a class="btn ml-0 py-2 xl:ml-32" href="#"><Button /></a>
      </div>
    </div>
  </div>
</header>
