---
import Navbar from '@/components/common/Navbar.astro';
import Layout from '@/layouts/BaseLayout.astro';
import type { navLink } from '@/types';

export interface Props {
  title: string;
  navLinks: navLink[];
}

const { title = '', navLinks = [] } = Astro.props;
---

<Layout title={title}>
  <Navbar navLinks={navLinks} />
  <main>
    <slot />
  </main>
</Layout>
