---
export interface Props {
  ariaLabel?: string;
  class?: string;
  label?: string;
  variant?: ButtonVariants;
}
type ButtonVariants = keyof typeof variants;

const {
  ariaLabel = 'Button',
  class: className = '',
  label = 'Contribute',
  variant = 'default',
} = Astro.props;

const variants = {
  default: 'bg-base text-white hover:bg-base-light',
  'default-light': 'bg-white text-primary hover:bg-gray',
  primary: 'bg-white text-base',
  disabled: '',
} as const;

const commonStyles =
  'flex justify-center px-[24px] py-[12px] rounded-2xl text-lg transition duration-150 ease-in-out md:w-fit w-full';
---

<button
  type="button"
  class:list={[
    commonStyles,
    { [className]: className },
    { [variants[variant]]: variant },
  ]}
  aria-label={ariaLabel}
>
  {label}
</button>
