---
export interface Props {
  ariaLabel?: string;
  class?: string;
  label?: string;
  variant?: ButtonVariants;
}
type ButtonVariants = keyof typeof variants;

const {
  ariaLabel = 'Button',
  class: className = '',
  label = 'Contribute',
  variant = 'default',
} = Astro.props;

const variants = {
  default: 'button-variant-default',
  'default-light': 'button-variant-default-light',
  primary: 'button-variant-primary',
  disabled: '',
} as const;

const commonStyles = 'base-button';
---

<button
  type="button"
  class:list={[
    commonStyles,
    { [className]: className },
    { [variants[variant]]: variant },
  ]}
  aria-label={ariaLabel}
>
  {label}
</button>
