---
export interface Props {
  id: string;
  class?: string;
  isPaddingX?: boolean;
  isHero?: boolean;
}

const {
  id = '',
  class: className = '',
  isPaddingX = true,
  isHero = false,
} = Astro.props;
---

<section
  id={id}
  class:list={[
    'h-full  py-14 xl:py-40 w-full text-base first-of-type:py-6',
    {
      [className]: className,
      'px-4 md:px-32': isPaddingX,
      'lg:min-h-[calc(100vh-92px)]': isHero,
    },
  ]}
>
  <div class="mx-auto max-w-7xl">
    <slot />
  </div>
</section>
