---
export interface Props {
  id: string;
  class?: string;
  isPaddingX?: boolean;
}

const { id = '', class: className = '', isPaddingX = true } = Astro.props;
---

<section
  id={id}
  class:list={[
    'h-full md:min-h-[calc(100vh-92px)] py-14 xl:py-40 w-full text-base',
    { [className]: className },
    {
      'px-4 md:px-32': isPaddingX,
    },
  ]}
>
  <slot />
</section>
